.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    
}

.row{
    display: flex;
    flex-direction: row;
    
}


img{
    margin: 2rem;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


.app{
    margin: 2%;
    object-fit: cover;
    display: flex;
    position: relative;
    
    
}








    
    

    
    
    
    
    
    
    
    
    
    
    
    




