body {
    background-color: #8b3d36;
  }
  ::-webkit-scrollbar {
    background-color: #8b3d36;
    width: 1em;
  }
  ::-webkit-scrollbar-track {
    border: 1em solid #a15852;
  }
  ::-webkit-scrollbar-thumb {
    background: #7a223a;
    height: 1em;
    width: 1em;
  }
  .about,
  .work {
    background-color: #7a223a;
    display: block;
    float: left;
    margin: 10%;
    max-height: 70%;
    text-align: center;
  }
  .work {
    float: none;
    height: 25em;
    overflow-y: scroll;
    width: auto;
  }
  .header {
    background-color: #7a223a;
    display: block;
    margin: 15% 10% 0 10%;
  }
  h1 {
    color: #de4097;
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
    padding: 0;
    text-align: center;
  }
  p {
    color: whitesmoke;
    font-family: "Padauk", sans-serif;
    padding: 10%;
  }
  .item-community,
  .item-music,
  .item-audio,
  .item-people,
  .item-art {
    color: whitesmoke;
    display: block;
    overflow: hidden;
    padding: 3%;
    position: static;
    text-align: center;
  }
  .item-community {
    background-color: thistle;
  }
  .item-audio {
    background-color: tomato;
  }
  .item-art {
    background-color: peachpuff;
  }
  .item-music {
    background-color: violet;
  }
  .item-people {
    background-color: palevioletred;
  }
  a {
    color: aliceblue;
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    text-decoration: none;
  
    vertical-align: baseline;
  }
  a:hover {
    color: #de4097;
  }
  span {
    color: navy;
    display: inline-flex;
    float: none;
    font-family: "Roboto Mono", monospace;
    text-align: center;
  }
  div {
    vertical-align: baseline;
  }
  @media screen and (max-width: 700px) {
    a {
      display: block;
    }
    span {
      display: block;
    }
    .about {
      width: inherit;
    }
  }
  