body{
background-color: #8B3D36;
}

.about, .work{
    display: block;
    background-color:#7A223A ;
    margin: 10%;
    max-height: 70%;
}

.work{
    height: 25em;
    overflow-y: auto;
    margin-top: 0%;
}


.header{
    display: block;
    background-color:#7A223A;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    
}

h1{
    
    text-align: center;
    color: #DE4097;
    padding: 3%;
}

p{
    color: whitesmoke;
    padding: 10%;
}

.item-community, .item-music, .item-audio, .item-people, .item-art{
    color: whitesmoke;
    padding: 3%;
    text-align: center;
    position: static;
    overflow: hidden;
    display: block;
      
    
}

    .item-community{
        background-color: thistle;
    }

    .item-audio{
        background-color: tomato;
    }

    .item-art{
        background-color: peachpuff;
    }

    .item-music{
        background-color: violet;

    }

    .item-people{
        background-color: palevioletred;
    }

a{
    
    color: aliceblue;
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    
    
}

a:hover{
    color: #de4097;
}

span{
    float: inline-start;
    display: inline-flex; 
    text-align: center ;
    color: navy;
    
}

div{
    vertical-align: baseline;
}



@media screen and (max-width: 700px){
  

    a{
        display: block;
    }  

    span{
        display: block;
    }
    .about{
    width: inherit;
    }



}