@font-face {
    font-family: 'Cutie Pop';
    src: url('CutiePop.eot');
    src: url('fonts/CutiePop.eot?#iefix') format('embedded-opentype'),
        url('fonts/CutiePop.woff2') format('woff2'),
        url('fonts/CutiePop.woff') format('woff'),
        url('fonts/CutiePop.ttf') format('truetype'),
        url('fonts/CutiePop.svg#CutiePop') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
 body{
     background-image: url(images/sparkle.jpeg);
 }


h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: 2px 2px pink;
    padding: 2rem;
 
}

h3{
    font-family: 'Cutie Pop';
    color: lightcyan;
    padding: 3em;
    margin: 0 auto;
    
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    padding: 3em;
}

a img{
    display: block;
    margin-left: auto ;
    margin-right: auto;
    width: 60%;
  

}

#quote{
    display: block;
    margin: 25% auto 0 auto ;
    width: 50%;
   position: absolute;   

}
       

.sidenav {
  text-align: center;
  display: inline-block;
 padding: 14px 25px;
 background-image: url(images/pinkbg.jpeg);
 position: fixed;
 margin-top: 2%;
 margin-left: 2%;
 
    
}

.sidenav a{
    color: whitesmoke;
    margin-bottom: 5em;
}

.main{
    margin-left: 10%;
}
  


a:hover{
    color: whitesmoke;
}   

.glitter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.intro {
    padding: 5em;
   
}
section{
  margin: 0 auto;
  max-width: 80%;

}

.diva{
    margin: auto;
}

.diva img{
    display: block;
    margin: auto;
    height: 20%;
    
}
.diva p{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    padding: 3em;
    margin: 5em;
    border: .5em solid white;
    box-shadow: 3px 3px pink;
    
}

p img{
    size: 2%;
    margin: 0;
    float: left;
}
.foot img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
   
}
img {
    flex: auto;
    }