/* Write all your custom CSS below this line  */

body {
    margin: 0;
    background-color: #f7f6cf;;
    
}

header{
background-color: #f7cb4a;
text-align: center;
margin-top: 0em;
}

nav{
    font-family: 'Work Sans', sans-serif;
}

a:link{
    color:#E6B12F;

}

h1{
    font-family: cheee-tbone, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f7f6cf;
}
h2{
    font-family: 'Inconsolata', monospace;
    font-size: medium;
    color: #BF4F26;

}

h3{
    background-color:#f7cb4a;
    font-family: cheee-peeenutt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #BF4F26;
    font-size: 30px;
    border-left: 10px solid #cbcf4c;
    text-align: center;
    margin: 100px 100px 0px 100px
    
  
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
    background-color: #f3f1b7;
    font-family: 'Inconsolata', monospace;
    border-left: 10px solid #cbcf4c;
    text-align: center;
    color: #BF4F26;
    padding: 20px; 
    margin: 0px 100px 100px 100px
    
   

}
section {
    
    

}
.footer-text{
    background: #cbcf4c;
}

footer{
background-color: #cbcf4c !important;
}