body{
    font-family: 'Exo', sans-serif; ;
    display: block;
    margin: 0 auto;
    background-color: #aca5ca;
    padding: 10em;
}

footer{
    font-family: 'Exo', sans-serif;
    font-style: italic ;
}

.menu{
    display: block;
    background-color: #995aa8;;
    padding: 2rem;
    text-align: center;
}

a:hover{
    color: seagreen;
}

.done {
    text-align: center;
    animation: fadein 20s, moves 5s;
    
 }
 
 @keyframes fadein {
     0% {opacity: 0;}
     65% {opacity: 0;}
     100% {opacity: 1;}
 }

@keyframes moves {
  100% {transform: rotate(10);}
}



 

#letters {
    text-align: center;
    animation: hide 20s  1 forwards;
    font-weight: 800;
    font-style: bold;
   
}


@keyframes hide {
    100% {opacity: 0;}
}


.L {
    animation: L 20s 1  forwards;
}

@keyframes L {
0% {color:#eeaeca;}
100% {color:#eeaeca;}

}

.O{
    animation: O 20s 1 forwards; 
}

@keyframes O {
    15% {color:#d8abca;}
    100% {color:#d8abca;}
}

.A{
    animation: A 20s 1 forwards; 
}

@keyframes A {
    30% {color: #c3a8ca;}
    100% {color: #c3a8ca;}
}

.D{
    animation: D 20s 1 forwards; 
}

@keyframes D {
    45% {color: #aca5ca;}
    100% {color: #aca5ca;}
}

.I{
    animation: I 20s 1 forwards; 
}

@keyframes I {
    50% {color: #94a2ca;}
    100% {color: #94a2ca;}
}

.N{
    animation: N 20s 1 forwards; 
}

@keyframes N {
    65% {color: #7b9fc9;}
    100% {color: #7b9fc9;}
}

.G{
    animation: G 20s 1 forwards; 
}

@keyframes G {
    100% {color: #7b9fc9;}
}



 
.moon{
    display: block;
    padding: 10em;
    margin: auto;
}


#circle{
    margin: auto;
    border-radius: 50%;
    width: 15em;
    height: 15em;
    animation: shadow 3s infinite  forwards, color 3s infinite forwards;
}


@keyframes shadow{
0% {box-shadow: -0.188em 0em 2.563em 1em rgb(0, 0, 0) inset;}


12% {box-shadow: 3.125em 0.188em-0.188em 0.625em rgb(0, 0, 255) inset;}


24% {box-shadow: 3.125em 0em 1.563em 0.125em rgb(0, 0, 5) inset;}


36% {box-shadow: 1.875em -0.125em 0.75em 0.125em rgb(0, 0, 8) inset;}

48% {box-shadow: 0.063em -0.125em 0.625em 0.125em rgb(0, 0, 8) inset;}


60% {box-shadow: -1.875em 0.125em 0.625em 0.25em rgb(0, 0, 8) inset;}

72% {box-shadow: -3.125em 0em 1.563em 0.125em rgb(0, 0, 0) inset;}

84% {box-shadow: -3.125em 0.125em 0.625em 0.25em rgb(0, 0, 255) inset;}


}

@keyframes color {
    0% {background-color: black;}
    12%{background-color: black;}
    24%{background-color: blue;}
    36%{background-color: blue;}
    48%{background-color: blue;}
    72% {background-color: black;}
    60%{background-color: blue;}
    84% {background-color: black;}
    100%{background-color: blue;}
    


}



